body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(159, 189, 243);
    width: 80vw;
    height: 30vh;
}
h1 {
    color: darkblue;
}

.destaque{
    background-color: darkgreen;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
}

#text{
    background-color: darkolivegreen;
    font-weight: bold;
    padding: 10px 20px 5px 10px;
}

label.center {
    font-size: 22px;
    color: darkorchid;
    font-weight: bolder;
}

/* Posicionamentos */

/* posicionamento estático */
.padrao{
    border: 1px solid black;
}

/* posicionamento relativo ao componente anterior */
.relativo{
    border: 1px solid black;
    position: relative;
    top: 10px;
    left: 50px;

}

/* absoluto com a tela */
.absolute{
    border: 1px solid black;
    position: absolute;
    top: 30px;
}

/* posicionamento fixo na tela */
.fixed{
    border: 1px solid black;
    position: fixed;
    background-color: chartreuse;
    top: 30px;
}

.left{
    border: 1px solid black;
    float: left;
    height: 100vh;
    width: 300px;
    background-color: darkorange;
}

.main{
    height: 100vh;
}

